/*
黑绿版本
悬浮是变绿
*/
body {
    background-color: #121212;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
}

.navbar {
    background-color: black;
    text-align: center; /* Edited */
}

.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block; /* Edited */
}

.navbar a:hover {
    background-color: #00ff00;
    color: #121212;
}

.navbar h1 {
    margin: 0;
    background-color: #00ff00;
    color: black;
    font-size: 30px;
    padding: 14px 16px;
}